<link rel="stylesheet" href="css/style.css">

<div id="goBack">
	<form action="/" method="get">
		<input type="submit" value="abandonar" name="abandon_btn" id="abandon_btn" />
	</form>
</div>

<center>
	<h2>Pregunta</h2>
	<br>
	<br>
{{puntajeUsuario}}<br>
{{hp}}
	<div id="mydiv">

		<p> 
			<STRONG> {{pregunta}} </STRONG> 
		</p>
		<br>

		<form action="{{redireccion}}" method="post">
  			<p> <input type="radio" name="answer" value="{{opcion 1}}"> {{opcion 1}}  </p>
			<p> <input type="radio" name="answer" value="{{opcion 2}}"> {{opcion 2}}  </p>
			<p> <input type="radio" name="answer" value="{{opcion 3}}"> {{opcion 3}}  </p>
			<br>
			<input type="submit" value="Siguiente Pregunta"
        		name="next_btn" id="next_btn" />
		</form>
	</div>

</center>
