<head>
  <title>Preguntados</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <!-- Bootstrap Jquery Validator-->
  <script src="external/validator.min.js"></script>


  <!-- Our own css file-->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="navBar"></div>
  <center>
    <br>
    <h2>Menu Administracion</h2>

    <br>

    <div class="container">
      <p id="message">{{cantAnswer}}</p>
      <form action="/createQuestion" method="get">
        <input type="submit" value="Crear Pregunta" name="create_btn" id="create_btn" class="btn btn-success"/>
      </form>
      <br>

      <form action="/adminQuestions" method="get">
        <input type="submit" value="Administrar Preguntas" name="admin_btn" id="admin_btn" class="btn btn-success" />
      </form>
      <br>

      <form action="/play" method="post">
        <input type="submit" value="Jugar" name="play_btn" id="play_btn" class="btn btn-success"/>
      </form>
      <br>

      <form action="/profile" method="get">
        <input type="submit" value="Ver Perfil" name="profile_btn" id="profile_btn" class="btn btn-success"/>
      </form>

    </div>
  </center>

  <p id="admin" hidden>{{admin}}</p>
  <p id="usrname" hidden>{{name}}</p>

  <script src="js/main.js"></script>
</body>