<link rel="stylesheet" href="css/style.css">

<div id="goBack">
    <form action="/" method="get">
        <input type="submit" value="Menu Principal" name="mainMenu_btn" id="mainMenu_btn" />
    </form>
</div>

<center>
	<h2>Administrar Preguntas</h2>
	<br>
	<br>

	<!--<div>
		<button id="volver">Volver</button>
	</div>-->
	<div id="mydiv3">

		<input type="placeholder" name="cambiar" id="cambiar"/>

		<!--<div id="bloque"></div>-->
		<form id="bloque" action="/adminQuestions" method="post">

			<input id="submit" name="submit" type="submit" class="btn btn-default" value="Cambiar" />
		</form>
	</div>

	<br>
	<br>
	<!--
	<p id="demo">Let AJAX change this text.</p>

	<button id="button">Change Content</button>
	
	<br>
	<br>-->
	<div id="mydiv2">
		<p id="message">{{estadoPregunta}}</p>
		<form action="/adminQuestions" method="post">
			<strong>ID de la pregunta a editar: <strong>
			<input class="form-control" id="id_question" name="id_question" placeholder="Ingrese un el ID de la pregunta" type="text" value="" /><br>
	
			<input id="btn_submit" name="btn_submit" type="submit" class="btn btn-default" value="Buscar" />
		</form>
	</div>

	<script src="js/edicionPreguntas.js"></script>
</center>