<link rel="stylesheet" href="css/style.css">

<div id="goBack">
    <form action="/" method="get">
        <input type="submit" value="Menu Principal" name="mainMenu_btn" id="mainMenu_btn" />
    </form>
</div>

<center>
	<h2>Administrar Preguntas</h2>
	<br>
	<br>

	<div id ="asd">
		<strong>Ingrese una pregunta para editar:</strong>
		<br>
	</div>

	<div id="mydiv3">

		<input type="placeholder" name="cambiar" id="cambiar"/>

		<strong>Ingrese una pregunta para editar:</strong>
		<br>
		<form id="bloque" action="/adminQuestions" method="post">

		</form>
	</div>

	<script src="json/edicionPreguntas.js"></script>
</center>