<link rel="stylesheet" href="css/style.css">

<div id="goBack">
    <form action="/" method="get">
        <input type="submit" value="Menu Principal" name="mainMenu_btn" id="mainMenu_btn" />
    </form>
</div>

<center>
	<h2>Pregunta</h2>
	<br>
	<br>

	<div id="mydiv">

		<form action="/changeQuestion" method="post">
			
			<p> <span>Pregunta: </span> <input class="form-control" name="cambiar0" value="{{pregunta}}" placeholder="{{pregunta}}" type="text"> </p>
			<br>

  			<p> <span>Respuesta Correcta: </span>     <input class="form-control" name="cambiar1" value="{{opcion 1}}" placeholder="{{opcion 1}}" type="text"></p>

			<p> <span>Respuesta Incorrecta 1: </span> <input class="form-control" name="cambiar2" value="{{opcion 2}}" placeholder="{{opcion 2}}" type="text"></p>

			<p> <span>Respuesta Incorrecta 2: </span> <input class="form-control" name="cambiar3" value="{{opcion 3}}" placeholder="{{opcion 3}}" type="text"></p>

			<p> <span>Respuesta Incorrecta 3: </span> <input class="form-control" name="cambiar4" value="{{opcion 4}}" placeholder="{{opcion 4}}" type="text"></p>
			
			<br>
			<p> <span>¿Activar pregunta?</span> <input type="checkbox" name="cb-activa" value='1'> </p>

			<br>
			<br>
			<input type="Submit" value="Cambiar pregunta" name="btn_submit" id="btn_submit" />
		</form>

	</div>

</center>
