<link rel="stylesheet" href="css/style.css">

<center>
    <h2>Menu Administracion</h2><br>
    <br>

    <div id="mydiv">
    	<p> <h2> COMING SOON...</h2></p>
    	<p> <h2> Im'm sorry, this page is currently unavaliable</h2></p>
	</div>

</center>
