<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <!-- Bootstrap Jquery Validator-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="navBar"></div>
  
  <div id="goBack">
    <form action="/" method="get">
      <input type="submit" value="Menu Principal" name="mainMenu_btn" class="btn btn-outline-primary" id="mainMenu_btn" />
    </form>
  </div>
  
  <center>
    <h2>Crear Partida</h2>
    <br>
    <br>
    <div id="container-fluid">
      <p id="message">{{estadoHost}}</p>
      <form data-toggle="validator" action="/host" method="POST" role="form">   
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="hostName" class="control-label"><strong>Nombre de la partida: </strong></label>
            <input class="form-control" id="hostName" name="hostName" placeholder="Host 1" type="text" value="" required>
          </div>
          <br>
        </div>
      
        <div class="col-sm-3">

          <div class="form-group">
            <label for="cantPreguntas" class="control-label"><strong>Cantidad de preguntas limite: </strong></label>
            <input class="form-control" id="cantPreguntas" name="cantPreguntas" placeholder="5" type="number" value="" required>
          </div>
          <br>
        </div>
      
        <div>
          <button type="submit" class="btn btn-success btn-block">Crear Host</button>
        </div>
      </form>
    </div>
  </center>
  
  
  <script type="text/javascript" src="js/main.js"></script>
</body>