<link rel="stylesheet" href="css/style.css">

<center>
    <h2>Menu Juego</h2><br>
    <br>
    <div id="mydiv">

        <form action="/play" method="get">
            <button type="submit" value="Play" 
                name="play_btn" id="play_btn">Play</button>
        </form>
        <br>
        <form action="/menuHost" method="get">
            <button type="submit" value="MultiPlayer" 
                name="hostMenu_btn" id="hostMenu_btn">MultiPlayer</button>
        </form>
        <br>

        <form action="/profile" method="get">
            <button type="submit" value="Ver Perfil" 
                name="profile_btn" id="profile_btn">Ver Perfil</button> 
        </form>
        <br>
        <br>

        <form action="/logout" method="post">
            <button type="submit" value="Cerrar Sesion" 
                name="logout_btn" id="logout_btn">Cerrar Sesion</button> 
        </form>
    </div>
</center>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="json/websocket.js"></script>-->
