<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seleccionar Host Preguntados</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <link type="text/css" rel="stylesheet" href="css/style.css">

  </head>

  <body>
    <div id="navBar"></div>

    <center>
      <br>
      <h2>Seleccionar Host</h2>

      <br>


      <div class="container listaHosts">
        <button id="refresh" class="btn btn-outline-primary">Refrescar Lista</button>
        <br>
        <br>

        <table id="partidas" class="table table-hover">

        </table>

        <br>
        <br>
          <form action="/menuHost" method="GET">
            <input type="submit" value="Volver" class="btn btn-info" />
          </form>
      </div>

    </center>

    <script src="js/busqueda.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>
