<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seleccionar Host</title>

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">

    <style>
    body {
        background-color: #e2e2e2;

    }
    .container {
      width: 65%;
      width-min: 300px ;
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Pregunta2</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/"> Menu Principal </a>
          </li>
          <li class="nav-item">
              <form action="/play" method="POST" id="jugar"></form>
              <a class="nav-link" href="/play" onclick="document.getElementById('jugar').submit(); return false;"> Un jugador </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/menuHost"> Multi-Jugador <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/profile"> Perfil </a>
          </li>
          <li class="nav-item">
              <form action="/logout" method="POST" id="salir"></form>
              <a class="nav-link" href="/logout" onclick="document.getElementById('salir').submit(); return false;"> Cerrar Sesion </a>
          </li>
        </ul>
      </div>
    </nav>

    <center>
      <br>
      <h2>Seleccionar Host</h2>

      <br>


      <div class="container">
        <button id="refresh" class="btn btn-outline-primary">Refrescar Lista</button>
        <br>
        <br>

        <table id="partidas" class="table table-hover">

        </table>

        <br>
				<br>
				  <form action="/menuHost" method="GET">
		        <input type="submit" value="Volver" class="btn btn-info" />
		      </form>
      </div>

    </center>

    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
    <script src="js/busqueda.js"></script>
  </body>
</html>
