<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script src="js/jquery-3.2.1.js"></script>

<center><h2>Select Host</h2></center>
  <br>
  <br>

  <!--<div id="mydiv">

    action="/selectHost" method="POST"

    <br>
  </div> -->

  <center>
    <button id="refresh">Refrescar Lista</button>
    <span>{{prueba}}</span>
    <br>
    <br>
    <table id="partidas">
    </table>
  </center>
  
  <br>
  <br>
  <br>

  <div id="goback2">
      <form action="/" method="GET">
          <input type="submit" value="Menu Principal" name="mainMenu_btn" id="mainMenu_btn" />
      </form>
  </div>

<!--
<script>
  {{{script}}}
  
</script>-->

<script src="js/busqueda.js"></script>


</body>
