<link rel="stylesheet" href="css/style.css">

<center>
<h2>Iniciar Sesion</h2>

<br>
<br>

<div id="mydiv">
<p>{{estadoLogin}}</p>
	<form action="/login" method="POST">
		<input class="form-control" id="txt_username" name="txt_username" placeholder="Username" type="text" value="" /><br>
		<input class="form-control" id="txt_password" name="txt_password" placeholder="Password" type="password" value="" /><br>
		<input id="btn_login" name="btn_login" type="submit" class="btn btn-default" value="Login" />
	</form>
</div>

