<link rel="stylesheet" href="css/style.css">

<center>

    <h2>Menu Principal</h2><br>
    <br>

    <div id="mydiv">
        <form action="/login" method="get">
            <input type="submit" value="Iniciar Sesion" 
                name="login_btn" id="login_btn" />
        </form>
        <br>
        <form action="/register" method="get">
            <input type="submit" value="Registrarse" 
                name="register_btn" id="register_btn" />
        </form>
    </div>
    

</center>

<script type="text/javascript" src="json/jquery.js"></script>
