<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="navBar"></div>
  
  <center>
    <br>
    <h2>Menu Multi-Jugador</h2>
    <br>
    <div class="container">
      <form action="/hostLAN" method="GET">
        <input type="submit" class="btn btn-outline-primary btn-block" value="Crear Partida" />
      </form>
      <br>
      
      <form action="/listarHosts" method="GET">
        <input type="submit" class="btn btn-outline-primary btn-block" value="Unirse a una Partida" />
      </form>
      
      <br>
      <br>
      <form action="/" method="GET">
        <input type="submit" value="Volver" class="btn btn-info" />
      </form>
    </div>
  </center>
  
  <script type="text/javascript" src="js/main.js"></script>
</body>