<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="goBack">
    <form action="/" method="get">
        <input type="submit" value="Menu Principal" name="mainMenu_btn" id="mainMenu_btn" />
    </form>
</div>

<center>
	<h2>Pregunta</h2>
	<br>
	<br>
</center>

<div id="pointsPlace"></div>

<center>
	<div id="mydiv">
		<p> 
			<STRONG id="questionPlace"></STRONG> 
		</p>
		<br>
		<div id="answersPlace">
  		</div>
		<br>
			
		<button id="sendAnswer" value="Siguiente Pregunta"
        		name="next_btn" id="next_btn" onclick="javascript:sendAnswer()">Siguiente Pregunta</button>
	</div>

	</div>
	<script src="json/playing.js"></script>
</center>
