<head>
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="goBack">
    <form action="/" method="get">
    	<button id="mainMenu_btn" value="Menu Principal" name="mainMenu_btn" class="btn btn-danger" type="submit">Abandonar</button>
    </form>
	</div>

<center>
	<h2>Pregunta</h2>
	<br>
	<br>
</center>

<div id="pointsPlace"></div>

<center>
	<div id="mydiv">
		<p> 
			<STRONG id="questionPlace"></STRONG> 
		</p>
		<br>
		<div id="answersPlace"></div>
	</div>

	</div>
	<script src="json/playing.js"></script>
	<script src="js/main.js"></script>
</center>
