<link rel="stylesheet" href="css/style.css">

<center>

	<h2>Perfil del usuario </h2>

	<div id="mydiv">
		<strong> Nombre de Usuario: </strong> {{username}}
		<br>
		<strong> Puntaje: </strong> {{puntaje}}
		<br>
		<br>
		<form action="/goBack" method="post">
        	<input type="submit" value="Volver" 
            	name="goBack_btn" id="goBack_btn" />
    	</form>
    </div>

</center>