<link rel="stylesheet" href="css/style.css">

<center>
    <h2>Registro</h2>
    <br>
    <br>

	<div id="mydiv">
		<p>{{estadoRegistro}}</p>
		<form action="/register" method="POST">
			<input class="form-control" id="txt_username" name="txt_username" placeholder="Username" type="text" value="" /><br>
			
			<input class="form-control" id="txt_password" name="txt_password" placeholder="Password" type="password" value="" /><br>
			
			<input id="btn_register" name="btn_register" type="submit" class="btn btn-default" value="Register" />
		</form>
	</div>
</center>