<head>
    <script type="text/javascript">
        window.onload = function() {
        document.forms["WaitForUsers"].submit();
        }
    </script>
</head>
<body>
<form name="WaitForUsers" method="post" action="/playTwoPlayers">
</form> 
</body>
