<head>
    <!--<script type="text/javascript">
        window.onload = function() {
        	document.forms["WaitForUsers"].submit();
        }
    </script>-->
</head>
<body>
	<button id="volver">Volver</button>
	<button id="esperar">Esperar</button>
	<form name="WaitForUsers" method="post" action="/waitForPlayers">
	    <h2>Waiting for users...</h2>
	</form> 

	<script src="js/espera.js"></script>
</body>
