<head>
    <script type="text/javascript">
        window.onload = function() {
        alert("Ganador: {{ganador}}; Perdedor: {{perdedor}}");
        document.forms["redirectAfterAlert"].submit();
        }
    </script>
</head>
<body>
<form name="redirectAfterAlert" method="get" action="/">

</form> 
</body>
