.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

.modal-footer {
  background-color: #f9f9f9;
}

.container {
  width: 30% ;
  min-width: 175px;
}

.btn-outline-primary {
	color:#007bff;
	background-color:transparent;
	background-image:none;
	border-color:#007bff;
	}

	.btn-outline-primary:hover {
		color:#fff;
		background-color:#007bff;
		border-color:#007bff
	}

.btn-outline-primary.focus,.btn-outline-primary:focus {
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5);
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled { 
	color:#007bff;
	background-color:transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled).active,.btn-outline-primary:not([disabled]):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle {
	color:#fff;
	background-color:#007bff;
	border-color:#007bff;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-outline-success {
color:#28a745;
background-color:transparent;
background-image:none;
border-color:#28a745;
}
.btn-outline-success:hover {
color:#fff;
background-color:#28a745;
border-color:#28a745;
}
.btn-outline-success.focus,.btn-outline-success:focus {
box-shadow:0 0 0 .2rem rgba(40,167,69,.5);
}
.btn-outline-success.disabled,.btn-outline-success:disabled {
color:#28a745;
background-color:transparent; 
}
.btn-outline-success:not([disabled]):not(.disabled).active,.btn-outline-success:not([disabled]):not(.disabled):active,.show>.btn-outline-success.dropdown-toggle {
color:#fff;
background-color:#28a745;
border-color:#28a745;
box-shadow:0 0 0 .2rem rgba(40,167,69,.5);
}

