<head>
    <link rel="stylesheet" href="valign.css">
</head>

<div id="myoutercontainer" class="outerDIV">
    <div id="myinnercontainer" class="innerDIV">
        <p>Hey look! I'm vertically centered!</p>
        <p>How sweet is this?!</p>
    </div>
</div>

<!--


<div class="card" >
    <div class="card-header">
        <center><h4 class="card-title">Menu Principal</h4></center>
    </div>
    <center>
    <div class="card-body text-center">
        <br>
        <form action="/login" method="get">
            <input type="submit" value="Iniciar Sesion" 
            name="login_btn" id="login_btn" />
        </form>
        <br>

        <form action="/register" method="get">
            <input type="submit" value="Registrarse" 
            name="register_btn" id="register_btn" />
        </form>
        <br>
    </div>
    </center>
</div>

//-->